<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- 默认 push 的服务器 -->
    <add key="DefaultPushSource" value="https://nuget.neuracle.gsof.top:5246/v3/index.json" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <!-- 配置的 NuGet 的源 -->
    <add key="neruacle" value="https://nuget.neuracle.gsof.top:5246/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
      <add key="nuget.org" value="true" />
   </disabledPackageSources>
   <packageSourceCredentials>
    <!-- 配置源的用户名和密码，用来 restore 和 push -->
    <neruacle>
      <add key="username" value="neuracle" />
      <add key="ClearTextPassword" value="Neuracle_123" />
    </neruacle>
  </packageSourceCredentials>
</configuration>
